
@Html.Partial("_Header")
@RenderBody()

@using System.Configuration

<script>
    window.APP_CONFIG = {
        apiBaseUrl: "@(ConfigurationManager.AppSettings["ApiBaseUrl"])"
    };
</script>

<header>

    <style>

        /* ===============================
           NAVBAR BASE
        =============================== */

        .navbar-default {
            background: linear-gradient( 180deg, #0061aa 0%, #005492 100% ) !important;
            border: none;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
        }

            /* ===============================
           BRAND
        =============================== */

            .navbar-default .navbar-brand {
                color: #ffffff !important;
                font-weight: 600;
                letter-spacing: .5px;
            }

                .navbar-default .navbar-brand i {
                    margin-right: 6px;
                    opacity: .9;
                }

            /* ===============================
           LINKS PRINCIPALES
        =============================== */

            .navbar-default .navbar-nav > li > a {
                color: rgba(255, 255, 255, 0.88) !important;
                font-weight: 500;
                padding: 15px 16px;
                transition: background-color .25s ease, color .25s ease, box-shadow .25s ease;
            }

                /* Hover */
                .navbar-default .navbar-nav > li > a:hover {
                    color: #ffffff !important;
                    background-color: rgba(255, 255, 255, 0.08);
                }

                /* Focus (accesibilidad) */
                .navbar-default .navbar-nav > li > a:focus {
                    color: #ffffff !important;
                    background-color: rgba(255, 255, 255, 0.12);
                    outline: none;
                }

            /* ===============================
           ESTADO ACTIVO
        =============================== */

            .navbar-default .navbar-nav > .active > a,
            .navbar-default .navbar-nav > .active > a:hover,
            .navbar-default .navbar-nav > .active > a:focus {
                color: #ffffff !important;
                background-color: rgba(255, 255, 255, 0.15);
                font-weight: 600;
                box-shadow: inset 0 -3px 0 #9ecbff;
            }

            /* ===============================
           DROPDOWN ABIERTO
        =============================== */

            .navbar-default .navbar-nav > .open > a,
            .navbar-default .navbar-nav > .open > a:hover,
            .navbar-default .navbar-nav > .open > a:focus {
                color: #ffffff !important;
                background-color: rgba(255, 255, 255, 0.12);
            }

            /* ===============================
           DROPDOWN MENU
        =============================== */

            .navbar-default .dropdown-menu {
                background-color: #005492;
                border: none;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
            }

                .navbar-default .dropdown-menu > li > a {
                    color: rgba(255, 255, 255, 0.9);
                    padding: 10px 16px;
                    transition: background-color .2s ease, color .2s ease;
                }

                    .navbar-default .dropdown-menu > li > a:hover {
                        color: #ffffff;
                        background-color: rgba(255, 255, 255, 0.12);
                    }

        /* Íconos del dropdown */
        .dropdown-menu > li > a i {
            width: 18px;
            margin-right: 6px;
            text-align: center;
            color: #ffffff;
            opacity: .85;
        }

        /* ===============================
           USUARIO / DERECHA
        =============================== */

        .navbar-nav.navbar-right > li > a {
            font-weight: 500;
        }

    </style>


    <style>

        .autocomplete {
            /*the container must be positioned relative:*/
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
        }

            .autocomplete-items div {
                padding: 10px;
                cursor: pointer;
                background-color: #fff;
                border-bottom: 1px solid #d4d4d4;
            }

                .autocomplete-items div:hover {
                    /*when hovering an item:*/
                    background-color: #e9e9e9;
                }

        .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color: DodgerBlue !important;
            color: #ffffff;
        }

        button.close {
            font-size: xx-large !important;
            color: white !important;
            opacity: 1 !important;
            padding: 0;
            cursor: pointer;
            background: transparent;
            border: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }


        .loader_Tablas {
            text-align: center;
            color: #dba8a8;
            font-size: large;
            font-family: fantasy;
        }

        .table {
            background-color: #e7e7e7;
            margin-bottom: 0;
        }

        div.dataTables_scrollHead table.dataTable {
            background-color: lightsteelblue;
        }

    </style>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <style>

                .navbar-brand img {
                    height: 30px; /* Ajusta tamaño */
                    /*margin-right: 8px;*/ /* Espacio entre imagen y texto */
                    /*vertical-align: middle;*/ /* Centra la imagen con el texto */
                    margin-left: 8px;
                }

                .navbar-logo {
                    display: flex;
                    align-items: center; /* Centra verticalmente */
                }

                    .navbar-logo img {
                        height: 30px; /* Ajusta tamaño */
                        margin-right: 8px; /* Espacio entre imagen y texto */
                    }
            </style>
            <div class="navbar-header" style="background-color: #0061aa;">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@

                <a class="navbar-brand" href="#"><img src="~/Content/img/minsal.png" /></a>


            </div>

            @{
                string titulo = "PNAC/PACAM";

                if (User.IsInRole("MIN"))
                {
                    titulo = "Administración PNAC/PACAM";
                }
                else if (User.IsInRole("MIP"))
                {
                    titulo = "Administrador PNI";
                }
            }

            <!--MENU-->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left"><a class="navbar-brand" href="#">&nbsp; @titulo</a></ul>

                <ul class="nav navbar-nav menu-principal">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Expedientes<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                @*<a id="facturacion"      href="#href-Facturacion-minsal" aria-controls="Facturacion" role="tab" data-toggle="tab" onclick="_initFacturas();">Expedientes</a>*@
                                <a id="href_facturacion_minsal" href="#FacturacionMinsal" aria-controls="FacturacionMinsal" role="tab" data-toggle="tab">Facturación</a> <!-- onclick="_initFacturas();_ocultarImagen();" -->

                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Archivo<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a id="href_facturaHistorica" href="#facturaHistoricaMinsal" aria-controls="facturaHistoricaMinsal" role="tab" data-toggle="tab" onclick="_ocultarImagen();">Finalizados</a>
                            </li>

                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bienvenido: <strong id="RutUsername" style="margin:3px">@Session["PNACPACAM_NombreUsuario"]</strong> <span class="fas fa-user" aria-hidden="true" style="margin:2px"></span> <span class="caret"></span> <small>&nbsp;&nbsp; @Session["PNACPACAM_Rol"] &nbsp;&nbsp;</small></a>
                        <ul class="dropdown-menu">
                            <li><a id="logout" href="#">Cerrar Sesión <span class="fas fa-power-off" aria-hidden="true"></span></a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</header>
<main>
    <div id="admin-bienvenida">
        @Html.Partial("perfilMinsal/_Bienvenida")
    </div>
    @*<div role="tabpanel" class="tab-pane fade" id="consultor-bienvenida">
            Html.Partial("perfilMinsal/_Bienvenida")
        </div>*@

    <!--CONTENIDO-->
    <div class="container-fluid margin-top">
        <div class="col-md-12">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="FacturacionMinsal">
                    @Html.Partial("Admin/_Factura")
                </div>
                <div role="tabpanel" class="tab-pane fade" id="facturaHistoricaMinsal">
                    @Html.Partial("Admin/_FacturaHistorico")
                </div>
            </div>
            <!--FIN CONTENIDO-->
            <!-- Modal Mensaje -->
            <div id="modalMensajeSistema" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title text-center">Atención: </h4>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-warning" role="alert">
                                    <strong>Atención!</strong><p id="mensajeSistema"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--fin side bar-->
    </div>

    <!-- Modal Sesión Expiró -->
    <div class="modal fade" id="SesionExpiroNotif" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><b>Control de Sesión</b></h5>
                </div>
                <div class="modal-body text-center">
                    <div class="row col-md-12" style="font-size:1.2em;">
                        <span>Su sesión está por expirar. Haga clic en el botón si desea mantener activa la sesión actual.</span>
                    </div>
                    <div class="row col-md-12" style="padding:15px 0">
                        <b><span id="tiemporestante" class="label label-warning" style="font-size:1.8em;"></span></b>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer text-center">
                    <button id="btnMantenerSesion" type="button" class="btn btn-principal" data-dismiss="modal">Mantener sesión activa</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal Sesión Expiró -->

</main>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.0/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.dataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.print.min.js"></script>

@Scripts.Render("~/core-js")
@Scripts.Render("~/plugins-js")





<script type="text/javascript" src="@Url.Content("~/app" + "?v=" + File.GetLastWriteTime(HttpContext.Current.Request.MapPath("~/Scripts/js/app/app.js")).ToString("yyyyMMddHHHmm"))"></script>
<script type="text/javascript" src="@Url.Content("~/tools" + "?v=" + File.GetLastWriteTime(HttpContext.Current.Request.MapPath("~/Scripts/js/app/tools.js")).ToString("yyyyMMddHHHmm"))"></script>
<script type="text/javascript" src="@Url.Content("~/administraFormularios" + "?v=" + File.GetLastWriteTime(HttpContext.Current.Request.MapPath("~/Scripts/js/app/administraFormularios.js")).ToString("yyyyMMddHHHmm"))"></script>
<script type="text/javascript" src="@Url.Content("~/usuarios" + "?v=" + File.GetLastWriteTime(HttpContext.Current.Request.MapPath("~/Scripts/js/app/usuarios.js")).ToString("yyyyMMddHHHmm"))"></script>
<script type="text/javascript" src="@Url.Content("~/documento" + "?v=" + File.GetLastWriteTime(HttpContext.Current.Request.MapPath("~/Scripts/js/app/_documento.js")).ToString("yyyyMMddHHHmm"))"></script>
<script type="text/javascript" src="@Url.Content("~/factura" + "?v=" + File.GetLastWriteTime(HttpContext.Current.Request.MapPath("~/Scripts/js/app/_factura.js")).ToString("yyyyMMddHHHmm"))"></script>
<script type="text/javascript" src="@Url.Content("~/guia" + "?v=" + File.GetLastWriteTime(HttpContext.Current.Request.MapPath("~/Scripts/js/app/_guia.js")).ToString("yyyyMMddHHHmm"))"></script>
<script type="text/javascript" src="@Url.Content("~/proveedor" + "?v=" + File.GetLastWriteTime(HttpContext.Current.Request.MapPath("~/Scripts/js/app/_proveedor.js")).ToString("yyyyMMddHHHmm"))"></script>
<script type="text/javascript" src="@Url.Content("~/zdis022" + "?v=" + File.GetLastWriteTime(HttpContext.Current.Request.MapPath("~/Scripts/js/app/_zdis022.js")).ToString("yyyyMMddHHHmm"))"></script>


<script src="@Url.Content("~/Scripts/js/app/Spinner.js")" asp-append-version="true"></script>


@Html.Partial("_Footer")



